* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 11%;
}

.rightheader {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  text-decoration: none;
  color: #1a202c;
}

.header-logo {
  width: 40px; 
  height: 40px; 
  margin-top: 8px;
  margin-right: 1px;
}

.header-title {
  padding-top: 3px;
  font-size: 30px;
  margin: 0;
  font-family: 'Noto Sans';
  font-weight: bold;
}

.hero {
  background-image: url("icons/white-low-poly-background-2248.jpeg"); /* white poly background source: https://www.fiftysounds.com/free-images/white-low-poly-background-338.html */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}


.center-text {
  text-align: center;
}


html, body {
  font-family: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #e5e7eb;
  /*background-image: linear-gradient(to bottom, #e5e7eb 0%, #e5e7eb 50%, #ffffff 50%, #ffffff 100%);*/
  color: #1a202c;

  display: flex;
  flex-direction: column;
  background-image: url("icons/white-low-poly-background-2248.jpeg"); /* white poly background source: https://www.fiftysounds.com/free-images/white-low-poly-background-338.html */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}


/* pick your apps */
label {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Light background */
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

label:hover {
  background-color: #f5f5f5; /* Slightly darker shade */
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.section-group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


.app-section {
  margin: 15px;
  width: 235px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 5px rgba(0,0,0,0.1);
}

.app-label {
  display: block;
  padding-left: 5px;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* pick your apps ^*/





/*past form line*/
.afterhr {
  /*background-color:#ffffff;*/
  /*padding-bottom: 400px;*/
}


.round-button {
  width: 181px;
  height: 48px;
  background-color: #22ff84;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  display: inline-block;
}

.round-button:hover {
  background-color: #1bd96a;
}













.footer {
  background: linear-gradient(to right, #22ff84 10%, #1bd96a);
  color: #1a202c; /* text */
  padding: 12px;
  position: fixed; /* stays at bottom */
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer .body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .list {
  list-style: none;
  display: flex;
}

.footer .footer-link {
  color: #1a202c;
  text-decoration: none;
  font-size: 18;
}

.footer .footer-link:hover {
  text-decoration: underline;
}